body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    background-color: #121212;
    color: #BB8CFC;
    padding: 0;
    margin: 0;
    text-align: center;
}


h1{
    font-weight: bold;
    font-size: 96px;
    line-height: 0.5;
    text-align: center;
    margin: 0.5em auto;
    
}

body h2{
    font-weight: 800;
    font-size: 28px;
    color: white;
    text-align: center;
    margin: 1em auto;
    
   
}

#container h2{ 
    color: black;
    margin: 1em;
}

#container{
    min-width: 450px;
    width: 40%;
    margin: 0 auto 1em auto;
    border-radius: 25px;
    
    border: 10px solid #03dac6;
    background-color: #018786;
    
    
}


#customize{
    
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
  
    border: 6px solid #B00020;
    background-color: #CF6679;
    
    
   
       
}

#customize p{

    line-height: 0;
    font-size: 52px;
    margin: 0.5em 0;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;

}

#session{
    
    width: 50%;
    float: left;
   
    border-right: 3px solid #B00020;
    
    
}

#sessionIcons{
      
    margin: 1em auto;
    width: 50%;
    min-width: 100px;
    border: 8px solid red;
    border-radius: 1em;
    
}

#session img{
    
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom:0.25em ;
    opacity: 0.75;
    
}

#session img:hover, #break img:hover{
   width: 3em;
   height: 3em;
   margin: 0;
   opacity: 1;

}

#break{  
    
    border-left: 3px solid #B00020;
    width: 50%;
    float: left;  
}

#breakIcons{

    min-width: 100px;
    margin: 1em auto;
    width: 50%;
    border: 8px solid red;
    border-radius: 1em;
}

#break img{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom:0.25em ;
    opacity: 0.75;
}



#timer p{
    font-size: 52px;
    line-height: 0;
    margin: 1em;
    letter-spacing: 5px;
    font-weight: bold;
    
}

#timer{

   width: 80%;
   margin: 20px auto;
   color: white;
   border: 6px solid white;
   border-radius: 5px;
   background-color: black;
}

#settings{
    margin: 20px auto;
    width: 80%;
    border: 6px solid #B00020;
    border-radius: 5px;
    background-color: #CF6679;
}


#icons{
    width: 100%;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;

}

#icons img{
    
    width: 3em;
    height: 3em;
    margin: 0.5em 0;
    opacity: 0.75;
}

#icons img:hover{
    
    width: 3.25em;
    height: 3.25em;
    opacity: 1;
    margin: 0.25em;
    

}
