:root {
    --primary-color: #03dac6;
    --secondary-color: #018786;
    --font-color: #BB8CFC;
    --bg-color: #121212;
    --heading-color: white;
    --timer-border-color: white;
    --timer-bg-color: black;
    --timer-color-1: #00ff54;

}

[data-theme="light"] {
    --primary-color: blue;
    --secondary-color: lightblue;
    --font-color: #6200ee;
    --bg-color: whitesmoke;
    --heading-color: black;
    --timer-border-color: black;
    --timer-bg-color: white;
    --timer-color-1: green;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 0;
    margin: 0;
    text-align: center;
}


h1{
    font-weight: bold;
    font-size: 96px;
    line-height: 0.5;
    text-align: center;
    margin: 0.5em auto;
    
}

body h2{
    font-weight: 800;
    font-size: 28px;
    color: var(--heading-color);
    text-align: center;
    margin: 1em auto;
    
   
}

#container h2{ 
    color: black;
    margin: 1em;
}

#container{
    min-width: 450px;
    width: 40%;
    margin: 0 auto 1em auto;
    border-radius: 25px;
    
    border: 10px solid var(--primary-color);
    background-color: var(--secondary-color);
    
    
}


#customize{
    
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    display: flex;
  
    border: 6px solid #B00020;
    background-color: #CF6679;
    
    
   
       
}

#customize p{

    line-height: 0;
    font-size: 52px;
    margin: 0.5em 0;
    text-align: center;
    color: white;
    text-shadow: 3px 3px black;

}

#session{
    
    width: 50%;
    float: left;
   
    border-right: 3px solid #B00020;
    
    
}

#sessionIcons{
      
    margin: 1em auto;
    width: 50%;
    min-width: 100px;
    border: 8px solid red;
    border-radius: 1em;
    
}

#session img{
    
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom:0.25em ;
    opacity: 0.75;
    
}

#session img:hover, #break img:hover{
   width: 3em;
   height: 3em;
   margin: 0;
   opacity: 1;

}

#break{  
    
    border-left: 3px solid #B00020;
    width: 50%;
    float: left;  
}

#breakIcons{

    min-width: 100px;
    margin: 1em auto;
    width: 50%;
    border: 8px solid red;
    border-radius: 1em;
}

#break img{
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    margin-top: 0.25em;
    margin-bottom:0.25em ;
    opacity: 0.75;
}



#timer p{
    font-size: 52px;
    line-height: 0;
    margin: 1em;
    letter-spacing: 5px;
    font-weight: bold;
    
}

#timer{

   width: 80%;
   margin: 20px auto;
   color: var(--timer-border-color);
   border: 6px solid var(--timer-border-color);
   border-radius: 5px;
   background-color: var(--timer-bg-color);
}

#settings{
    margin: 20px auto;
    width: 80%;
    border: 6px solid #B00020;
    border-radius: 5px;
    background-color: #CF6679;
}


#icons{
    width: 100%;  
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;

}

#icons img{
    
    width: 3em;
    height: 3em;
    margin: 0.5em 0;
    opacity: 0.75;
}

#icons img:hover{
    
    width: 3.25em;
    height: 3.25em;
    opacity: 1;
    margin: 0.25em;
    

}

/* Dark Mode / Light Mode */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 1em;

}

em {
    margin-left: 10px;
    font-size: 1rem;
  }

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
